{% extends 'layout.njk' %}

{% block main %}
        <h1>Add an author</h1>
        <form action="/catalog/author" method="post" class='form'>
            <label>
                    Title
                    <select name="title">
                        <option value="Mr.">
                            Mr.
                        </option>
                        <option value="Mrs.">
                            Mrs.
                        </option>
                        <option value="Ms.">
                            Ms.
                        </option>
                        <option value="Mx.">
                            Mx.
                        </option>
                    </select>
            </label>
            <hr />
            <label>
                    First Name
                    <input name="firstName" type="text">
            </label>
            <hr />
            <label>
                    Last Name
                    <input name="lastName" type="text">
            </label>
            <hr />
            <button type="submit" value="add-book">
                Add Book
            </button>
        </form>
{% endblock %}
