{% extends 'layout.njk' %}

{% block main %}
    <h1>Add a book</h1>
        <form method="post" class='form'>
            <label>
                    Author
                    <select name="author">
                        {% for author in authors %}
                            <option value="{{ author._id }}">
                                {{author.title}} {{ author.firstName }} {{ author.lastName}}
                            </option>
                        {% endfor %}
                    </select>
            </label>
            <small>
                Can't find the author?
                <a href='/catalog/author/add'>Add Author</a>
            </small>
            <label>
                    Book title
                    <input name="title" type="text">
            </label>
            <button type="submit" value="add-book">
                Add Book
            </button>
        </form>
{% endblock %}

