<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/books.css" />
</head>
<body>
    <main class='books-app'>
        <div class='heading-container'>
            <h1>Here are all available books</h1>
            <a href='/catalog/book/add'>Add a book</a>
        </div>
        <table class='table'>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
            {% for book in books %}
                <tr>
                    <td>
                        {{ book.title }}
                    </td>
                    <td>
                        {{ book.author.firstName }}
                        {{ book.author.lastName }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>
