<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/css/error.css" />
</head>
<body>
    <main class='error'>
        <h1> Something went wrong</h1>
        <small>
            {{ error }}
        </small>
        <a href='#' id='go-back'>Go Back</a>
    </main>

    <script>
        const goBackLink = document.querySelector('#go-back');
        goBackLink.addEventListener('click', function(){
            window.history.go(-1);
        });
    </script>
</body>
</html>
