{% extends 'layout.njk' %}

{% block main %}
    <h1 class="mt-4 mb-2">
        Catalog Details
    </h1>
    <table class="table">
        <tr>
            <th>
                type
            </th>
            <th>
                count
            </th>
        </tr>
        <tbody>
            <tr>
                <td>Books</td>
                <td>{{totalBooks}}</td>
            </tr>
            <tr>
                <td>Book Instances</td>
                <td>{{totalBookInstances}}</td>
            </tr>
            <tr>
                <td>Genre</td>
                <td>{{totalAuthors}}</td>
        </tbody>
    </table>
{% endblock %}
